html {
  font-family: Helvetica;
}

body {
  text-align: center;
}

.navigation {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

.text {
  font-size: 14px;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

a {
  color: white;
  font-size: 18px;
}

h4 {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  font-size: 23px;
}

section {
  text-align: left;
  color: white;
  background-color: dimgray;
  font-size: 11px;
}
